<div class="form-group" ng-if="$ctrl.pullRateLimits">
  <div class="col-sm-12 small">
    <div ng-if="$ctrl.pullRateLimits.remaining > 0" class="text-muted">
      <i class="fa fa-exclamation-circle blue-icon" aria-hidden="true" style="margin-right: 2px"></i>
      <span ng-if="$ctrl.isAuthenticated">
        您当前使用免费帐户从 DockerHub 拉取图像，并且每 6 小时最多拉取 200 次。 剩余拉取 :
        <span style="font-weight: bold">{{ $ctrl.pullRateLimits.remaining }}/{{ $ctrl.pullRateLimits.limit }}</span>
      </span>
      <span ng-if="!$ctrl.isAuthenticated">
        <span ng-if="$ctrl.isAdmin">
          您当前使用匿名帐户从 DockerHub 拉取图像，并且每 6 小时最多拉取 100 次。你可以在<a ui-sref="portainer.registries">注册表</a>中配置DockerHub身份验证。 剩余拉取 :
          <span style="font-weight: bold">{{ $ctrl.pullRateLimits.remaining }}/{{ $ctrl.pullRateLimits.limit }}</span>
        </span>
        <span ng-if="!$ctrl.isAdmin">
          您当前使用匿名帐户从 DockerHub 拉取图像，并且每 6 小时最多拉取 100 次。 请联系您的管理员进行配置 DockerHub 身份验证。 剩余拉取 :
          <span style="font-weight: bold">{{ $ctrl.pullRateLimits.remaining }}/{{ $ctrl.pullRateLimits.limit }}</span>
        </span>
      </span>
    </div>
    <div ng-if="$ctrl.pullRateLimits.remaining <= 0" class="text-warning">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <span ng-if="$ctrl.isAuthenticated">
        现在超出了您作为免费用户的授权拉取计数配额。
        <span ng-transclude="rateLimitExceeded">您将无法从 DockerHub 注册表中拉取任何镜像。</span>
      </span>
      <span ng-if="!$ctrl.isAuthenticated">
        现在超出了您作为匿名用户的授权拉取计数配额。
        <span ng-transclude="rateLimitExceeded">您将无法从 DockerHub 注册表中拉取任何镜像。</span>
      </span>
    </div>
  </div>
</div>
