<div class="col-sm-12 form-section-title"> 信息 </div>
<div class="form-group">
  <div class="col-sm-12">
    <span class="small">
      <p class="text-primary"> 直接连接到 Docker 或 Kubernetes 环境中运行的 Portainer 代理. </p>
    </span>
  </div>
</div>
<div class="col-sm-12 form-section-title"> 环境 </div>
<!-- name-input -->
<div class="form-group">
  <label for="endpoint_name" class="col-sm-4 col-lg-3 control-label text-left">名称</label>
  <div class="col-sm-8 col-lg-9">
    <input type="text" class="form-control" id="endpoint_name" ng-model="ctrl.formValues.Name" placeholder="e.g. prod-cluster-01" />
  </div>
</div>
<!-- !name-input -->
<!-- endpoint-url-input -->
<div class="form-group">
  <label for="endpoint_url" class="col-sm-4 col-lg-3 control-label text-left">
    代理 URL
    <portainer-tooltip position="bottom" message="Portainer 代理的 URL 或 IP"> </portainer-tooltip>
  </label>
  <div class="col-sm-8 col-lg-9">
    <input type="text" class="form-control" id="endpoint_url" ng-model="ctrl.formValues.URL" placeholder="e.g. 10.0.0.10:9001" />
  </div>
</div>
<!-- !endpoint-url-input -->
